[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://mirror.baidu.com/pypi/simple"
verify_ssl = true
name = "mirrorbaidu"

[packages]
paddlepaddle = "*"
paddleocr = "*"
rich = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.10"
